/* 
.nav__container{
    max-width: 100%;
    margin: auto;
    background-color: #166efb;
    font-size: 17px;
    display: flex;
}

.logo{
    margin-left: 10px;
    width: 50px;
    height: 65px; 
}
  
  
.logo__imagen{
    width: 70px;
    height: 70px;
} 

.nav__orizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.nav__li{
   padding: 5px 80px;
}
.nav__li a {
    display: block;
    text-decoration: none;
    color: aliceblue;
}

.nav__li a:hover{
    color: #fff;
}

.nav__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 100px;
    background-color:#166efb;
    border-radius: 6px;
}

.nav__li:hover .nav__vertical{
    display: block;
}
.nav__vertical a:hover{
    color: #fff;
}
.nav__vertical a{
    display: block;
    margin-left: -30px;
    padding: 25px 15px 2px 0px;
}
/*itemList*/

/* .container__item__list{
    display: flex;
}
.item__container{
    display: flex; 
    flex-direction: row;   
}

.item__card{
    width: 280px;
    border: solid 1px #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
.item__detail{
    margin-left: 470px;
}
.linkk{
  text-decoration: none;  
  margin-left: 60px;
  font-size: 20px;
}  */